<p class="lead">内容確認</p>
<dl class="dl-horizontal">
  <dt class="col-sm-3">id:</dt>
  <dd class="col-sm-9"><%=@id%></dd>
  <dt class="col-sm-3">title:</dt>
  <dd class="col-sm-9"><%=h(@title)%></dd>
  <dt class="col-sm-3">details:</dt>
  <dd class="col-sm-9" style="white-space: pre-line;"><%=h(@details)%></dd>
</dl>
<input type="hidden" name ="memo_index" value=<%=@memo_index%>>
<input type="hidden" name ="create_time" value=<%=@create_time%>>
<input type="hidden" name ="last_edit_time" value=<%=@last_edit_time%>>
<a href="/edit/<%=@memo_index%>" class="btn btn-primary">edit_memo</a>